{{!< default}}

<div class="navbar-wrapper" id="nav">
	
	<div class="logo pull-left">
		<svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="612px" height="792px" viewBox="100 200 500 400" enable-background="new 0 0 612 792" xml:space="preserve">
			 <path fill-rule="evenodd" clip-rule="evenodd" d="M517.642,554.979c14.405,0,21.031-3.169,24.489-5.186l4.897,14.117
			c-6.05,3.168-15.846,6.338-32.267,6.338c-25.353,0-38.029-13.541-38.029-40.333V427.928H452.82V416.98l23.912-3.457l4.609-41.198
			h12.1v41.198h43.791v14.405h-43.791v99.97C493.441,547.201,502.949,554.979,517.642,554.979z M405.579,465.957
			c0-25.641-12.964-39.757-36.588-39.757c-21.319,0-37.453,14.117-43.214,30.25v112.358h-16.71V413.523h12.388l3.746,16.998h1.152
			c2.881-4.034,18.438-19.879,44.943-19.879c31.115,0,50.129,16.998,50.994,51.282v106.884h-16.71V465.957z M343.485,307.409
			c-22.177,0-40.154-17.977-40.154-40.154s17.978-40.154,40.154-40.154c22.176,0,40.154,17.978,40.154,40.154
			S365.661,307.409,343.485,307.409z M284.483,345.187c-13.802,0-24.991-11.189-24.991-24.992c0-13.802,11.189-24.991,24.991-24.991
			s24.991,11.189,24.991,24.991C309.475,333.998,298.286,345.187,284.483,345.187z M242.668,377.404
			c-9.072,0-16.427-7.354-16.427-16.426c0-9.073,7.354-16.427,16.427-16.427s16.427,7.354,16.427,16.427
			C259.095,370.049,251.74,377.404,242.668,377.404z M160.421,463.076c0-20.455-10.947-36.876-34.283-36.876
			c-24.488,0-40.046,15.557-45.52,30.25v112.358h-16.71V343.869l16.71,13.519v73.998h1.152c3.457-4.61,17.574-20.744,46.096-20.744
			c29.674,0,49.265,19.303,49.265,50.129v108.037h-16.71V463.076z M252.317,568.808h-16.709V424.104l16.709-14.36V568.808z"/>
		</svg>
	</div>
	<div class="pull-right">
		<a href="/contact" class="button">Get The Hint</a>
	</div>
</div>

<section class="header">
	<div class="container">
		<div class="logo">
			<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="612px" height="792px" viewBox="100 200 500 400" enable-background="new 0 0 612 792" xml:space="preserve">
				 <path fill-rule="evenodd" clip-rule="evenodd" d="M517.642,554.979c14.405,0,21.031-3.169,24.489-5.186l4.897,14.117
				c-6.05,3.168-15.846,6.338-32.267,6.338c-25.353,0-38.029-13.541-38.029-40.333V427.928H452.82V416.98l23.912-3.457l4.609-41.198
				h12.1v41.198h43.791v14.405h-43.791v99.97C493.441,547.201,502.949,554.979,517.642,554.979z M405.579,465.957
				c0-25.641-12.964-39.757-36.588-39.757c-21.319,0-37.453,14.117-43.214,30.25v112.358h-16.71V413.523h12.388l3.746,16.998h1.152
				c2.881-4.034,18.438-19.879,44.943-19.879c31.115,0,50.129,16.998,50.994,51.282v106.884h-16.71V465.957z M343.485,307.409
				c-22.177,0-40.154-17.977-40.154-40.154s17.978-40.154,40.154-40.154c22.176,0,40.154,17.978,40.154,40.154
				S365.661,307.409,343.485,307.409z M284.483,345.187c-13.802,0-24.991-11.189-24.991-24.992c0-13.802,11.189-24.991,24.991-24.991
				s24.991,11.189,24.991,24.991C309.475,333.998,298.286,345.187,284.483,345.187z M242.668,377.404
				c-9.072,0-16.427-7.354-16.427-16.426c0-9.073,7.354-16.427,16.427-16.427s16.427,7.354,16.427,16.427
				C259.095,370.049,251.74,377.404,242.668,377.404z M160.421,463.076c0-20.455-10.947-36.876-34.283-36.876
				c-24.488,0-40.046,15.557-45.52,30.25v112.358h-16.71V343.869l16.71,13.519v73.998h1.152c3.457-4.61,17.574-20.744,46.096-20.744
				c29.674,0,49.265,19.303,49.265,50.129v108.037h-16.71V463.076z M252.317,568.808h-16.709V424.104l16.709-14.36V568.808z"/>
			</svg>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h1>Stay a step ahead </br> of home maintenance</h1>
				<hr>
				<p>
					<span class="price">$199</span>
					<a href="/contact" class="button">GET THE HINT</a>
				</p>
			</div>
		</div>
		<div class="phone-example hidden-xs">
			<img class="phone-text" src="images/phone-text.png" alt="" />
			<img class="phone" src="images/phone.png" alt="" />
		</div>
	</div>

</section>
<section class="wood">
	<div class="container">
		<div class="row">
				<h1 class="text-center">Caring for a home? You could use a Hint.</h1>
			<div class="col-sm-8 col-sm-offset-2">
				
				<img src="images/hintbox.png" alt="">
				<br>
				<p>Hint monitors your Heating and Cooling system, giving you insight into efficiency, problems and repair. It's a perfect sidekick for someone who owns a single home, multiple homes or helps others manage their home.</p>
			</div>
		</div>
	</div>
</section>



<section class="maintain">
	<div class="container  min-height">
		<img class="hidden-xs" src="/images/hinttexting.png" alt="">
		<div class="row">
			<div class="col-md-6 col-sm-4">&nbsp;</div>
			<div class="col-sm-8 col-md-6 callout-text">
				<h1>Hint helps keep your home in shape.</h1>
				<p>
					Hint is smart, so it knows when your home needs a proactive touch to keep things running smoothly. It’s more helpful than scheduled maintenance, only asking for attention when it’s needed.
				</p>
			</div>
		</div>
	</div>
</section>



<section class="sense">
	<div class="container min-height">
		<div class="row">
			<div class="col-sm-8 col-md-6 callout-text">
				<h1>Hint can sense issues before they happen.</h1>
				<p>
					We use sensors to monitor your most important appliances for efficiency and reliability. When Hint detects something out of ordinary, it will notify you and give you suggestions on how to take action.
				</p>
			</div>
		</div>
	</div>
	<img class="hidden-xs" src="/images/condenser.png" alt="">
</section>


<section class="fix">
	<img class="hidden-xs" src="/images/fix.jpg" alt="">
	<div class="container  min-height">
		<div class="row">
			<div class="col-md-6 col-sm-6">&nbsp;</div>
			<div class="col-sm-6 col-md-6 callout-text">
				<h1>Hint also helps you discover the best fix.</h1>
				<p>
					Since Hint knows what's broken,  it can ship you the part and walk you though the repair while verifying everything is in working order.
				</p>
				<p>
					We know some repairs are too big and you might not always have time. Hint gives you access to our network of service professionals, so you can get the job done quickly.
				</p>
			</div>
		</div>
	</div>
</section>






<div class="container hidden">
	<div class="jumbotron">

		<p>We have created a default Admin user for you with the email <strong>adamelevate@gmail.com</strong> and the password <strong>Comfort1234!</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>


	</div>
</div>
