{{!< default}}
<div class="navbar-wrapper" id="nav">
	
	<div class="logo pull-left">
		<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="612px" height="792px" viewBox="100 200 500 400" enable-background="new 0 0 612 792" xml:space="preserve">
			 <path fill-rule="evenodd" clip-rule="evenodd" d="M517.642,554.979c14.405,0,21.031-3.169,24.489-5.186l4.897,14.117
			c-6.05,3.168-15.846,6.338-32.267,6.338c-25.353,0-38.029-13.541-38.029-40.333V427.928H452.82V416.98l23.912-3.457l4.609-41.198
			h12.1v41.198h43.791v14.405h-43.791v99.97C493.441,547.201,502.949,554.979,517.642,554.979z M405.579,465.957
			c0-25.641-12.964-39.757-36.588-39.757c-21.319,0-37.453,14.117-43.214,30.25v112.358h-16.71V413.523h12.388l3.746,16.998h1.152
			c2.881-4.034,18.438-19.879,44.943-19.879c31.115,0,50.129,16.998,50.994,51.282v106.884h-16.71V465.957z M343.485,307.409
			c-22.177,0-40.154-17.977-40.154-40.154s17.978-40.154,40.154-40.154c22.176,0,40.154,17.978,40.154,40.154
			S365.661,307.409,343.485,307.409z M284.483,345.187c-13.802,0-24.991-11.189-24.991-24.992c0-13.802,11.189-24.991,24.991-24.991
			s24.991,11.189,24.991,24.991C309.475,333.998,298.286,345.187,284.483,345.187z M242.668,377.404
			c-9.072,0-16.427-7.354-16.427-16.426c0-9.073,7.354-16.427,16.427-16.427s16.427,7.354,16.427,16.427
			C259.095,370.049,251.74,377.404,242.668,377.404z M160.421,463.076c0-20.455-10.947-36.876-34.283-36.876
			c-24.488,0-40.046,15.557-45.52,30.25v112.358h-16.71V343.869l16.71,13.519v73.998h1.152c3.457-4.61,17.574-20.744,46.096-20.744
			c29.674,0,49.265,19.303,49.265,50.129v108.037h-16.71V463.076z M252.317,568.808h-16.709V424.104l16.709-14.36V568.808z"/>
		</svg>
	</div>
	<div class="pull-right">
		<a href="/contact" class="button">PRE-ORDER</a>
	</div>
</div>



<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 132 97" style="enable-background:new 0 0 132 97;" xml:space="preserve">
				<style type="text/css">
				    .st0{fill:#fff ;}
				    .st1{fill:none; ;stroke-width:2.232;stroke-miterlimit:10; opacity: .4}
				</style>
				<g>
				    <g>
				        <path class="st0" d="M43.4,34.5c-0.4,0-0.7,0.3-0.7,0.7v26.3c0,0.4,0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7V35.3
				            C44.1,34.9,43.8,34.5,43.4,34.5z"/>
				        <path class="st0" d="M52.3,47.2c-2.6-0.9-5.8,1.5-5.9,1.6c-0.3,0.2-0.4,0.7-0.2,1c0.2,0.3,0.7,0.4,1,0.2c0.7-0.6,3-1.9,4.6-1.4
				            c0.7,0.2,1.3,0.9,1.6,2v11c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V50.3l0-0.1C54.4,48.6,53.6,47.6,52.3,47.2z"/>
				        <path class="st0" d="M75.3,47.5c-2.6-0.9-5.8,1.5-5.9,1.6c-0.3,0.2-0.4,0.7-0.2,1c0.2,0.3,0.7,0.4,1,0.2c0.7-0.6,3-1.9,4.6-1.4
				            c0.7,0.2,1.3,0.9,1.6,2v11c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V50.7l0-0.1C77.4,48.9,76.5,47.9,75.3,47.5z"/>
				        <path class="st0" d="M60.7,47.7c-0.4,0-0.7,0.3-0.7,0.7v13.1c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V48.4
				            C61.4,48,61.1,47.7,60.7,47.7z"/>
				        <path class="st0" d="M67.2,47.7c-0.4,0-0.7,0.3-0.7,0.7v13.1c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V48.4
				            C67.9,48,67.6,47.7,67.2,47.7z"/>
				        <path class="st0" d="M94.4,61c-0.1-0.4-0.5-0.6-0.9-0.5c-2.9,0.9-5.1,0.9-6.4-0.1c-1.4-1-1.4-2.7-1.4-2.7V35.3
				            c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7v22.4c0,0.1,0,2.5,2,3.9c0.9,0.7,2.1,1,3.6,1c1.2,0,2.6-0.2,4.2-0.7
				            C94.3,61.8,94.5,61.3,94.4,61z"/>
				        <path class="st0" d="M87.3,48.5h4.9c0.4,0,0.7-0.3,0.7-0.7S92.5,47,92.1,47h-4.9c-0.4,0-0.7,0.3-0.7,0.7S86.8,48.5,87.3,48.5z"/>
				        <circle class="st0" cx="60.9" cy="43.2" r="2"/>
				        <circle class="st0" cx="64.7" cy="38.4" r="2.8"/>
				        <path class="st0" d="M70.2,35.8c2,0,3.6-1.6,3.6-3.6c0-2-1.6-3.6-3.6-3.6c-2,0-3.6,1.6-3.6,3.6C66.7,34.2,68.3,35.8,70.2,35.8z"/>
				    </g>
				    <g>
				        <polyline class="st1" points="51.3,79.5 24.9,79.5 17.5,65.2 21.6,62.9 21.6,33.4         "/>
				        <polyline class="st1" points="54.5,74.2 83.5,74.2 83.5,79.5 110.5,79.5 117.8,65.2 113.7,62.9 113.7,52.6         "/>
				        <polyline class="st1" points="83.6,19 83.6,13.7 110.6,13.7 118,28 113.9,30.2 113.9,47.2         "/>
				        <polyline class="st1" points="73.8,19 52,19 52,13.7 25,13.7 17.7,28         "/>
				    </g>
				</g>
				</svg>
			</div>
			<div class="col-sm-12 text-center">
				<!-- <h1>A new way to care</br> for your home appliances.</h1> -->
				<h1>Helping your home</br> take care of you.</h1>
				<a href="contact" class="button">PRE-ORDER</a>
			</div>
		</div>
	</div>
</div>

<div class="why">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1>Save $200 on even the smallest repairs.</h1>
				<a href="" class="link">See How Hint Saves <span class="glyphicon glyphicon-chevron-right"></span></a>	
			</div>
		</div>
	</div>
</div>










<section class="how hidden-xs">
	<div class="container ">
		<h1>Here's how Hint works.</h1>
		<div class="row" id="tabs">
			
		<div class="col-sm-5">
			<ul>
				<li data-tab="tabs-1" class="current">
					<span>1</span>
					<strong>Sense</strong>
					<svg height="20" width="40">
					  <polygon points="20,1 1,20 40,20" style="fill:#fff" />
					</svg>
				</li>
				<li data-tab="tabs-2">
					<span>2</span>
					<strong>Diagnose</strong>
					<svg height="20" width="40">
					  <polygon points="20,1 1,20 40,20" style="fill:#fff" />
					</svg>
				</li>
				<li data-tab="tabs-3">
					<span>3</span>
					<strong>Notify</strong>
					<svg height="20" width="40">
					  <polygon points="20,1 1,20 40,20" style="fill:#fff" />
					</svg>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div id="text">
				<p data-tab="tabs-1" class="current">Hint uses multiple sensors to monitor your appliances around the clock. These sensors are battle tested and exactly like the sensors technicians use.</p>
				<p data-tab="tabs-2">Hint can tell the difference between low performance and total breakdown. Designed by industry experts, it can sometimes predict when a part will fail.</p>
				<p data-tab="tabs-3">Hint will always tell you what's wrong and how to fix it. It won't bother you with alarms based on schedules, just gets your attention when you're needed. </p>
			</div>
		</div>
		<div class="col-sm-7">
			<div id="tabs_container">

				<div id="tabs-1" class="tab-content current">
					<img src="images/gifs/sense.gif" data-src="images/gifs/sense.gif" alt="">
				</div>

				<div id="tabs-2" class="tab-content">
					<img src="images/gifs/diagnose.gif" data-src="images/gifs/diagnose.gif" alt="">
				</div>

				<div id="tabs-3" class="tab-content">
					<img src="images/gifs/notify.gif" data-src="images/gifs/notify.gif" alt="">
				</div>

			</div><!--End tabs container-->
		</div>
		</div><!--End tabs-->
	</div>
</section>
<section class="how visible-xs">
	<div class="container">
	<h1 class="">Hint Clues You In</h1>
		<div class="row">
			<div class="col-sm-4">
				<div class="inner">
					<div class="icon icon-sense">
						<!-- <img src="images/svg/sense.svg" alt=""> -->
					</div>
					<h5>Sense</h5>
					<p>Hint uses multiple sensors to monitor your appliances around the clock. These sensors are battle tested and exactly like the sensors technicians use.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="inner">
					<div class="icon icon-hintbox"></div>
					<h5>Diagnose</h5>
					<p>Hint can tell the difference between low performance and total breakdown. Designed by industry experts, it can sometimes predict when a part will fail.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="inner">
					<div class="icon icon-phone"></div>
					<h5>Notify</h5>
					<p>Hint will always tell you what's wrong and how to fix it. It won't bother you with alarms based on schedules, just gets your attention when you're needed. </p>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="features">
	
</div>



<section class="diy">
	<div class="callout">
		<h1>Repairs you can do yourself.</h1>
		<p>The most common repairs are simple and inexpensive. Hint can see a breakdown coming, ship you the part and walk you though the repair while verifying everything is in working order.</p>

		<div class="bullets">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-time"></span>
					<strong>Time &amp; Difficulty<br class="hidden-sm"> Rated</strong>
				</div>
				<div class="col-sm-4">
					<div class="outline">
						<span class="glyphicon glyphicon-usd"></span>
						<strong>Wholesale Part<br>Pricing</strong>
					</div>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-play-circle"></span>
					<strong>Video Repair<br>Instructions</strong>
				</div>
			</div>
		</div>
		
	</div>

</section>


<div class="facetime">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 463.8 612" style="enable-background:new 0 0 463.8 612;" xml:space="preserve">
<g>
    <circle class="st0" cx="210" cy="475" r="19.3"/>
    <path class="st0" d="M234.8,80.5c3.6,0,6.5-2.9,6.5-6.5c0-3.6-2.9-6.5-6.5-6.5h-57.7c-3.6,0-6.5,2.9-6.5,6.5c0,3.6,2.9,6.5,6.5,6.5
        H234.8z"/>
    <path class="st0" d="M411.2,294.9l-0.5-0.5c-22.9-19.2-26.3-78.4-26.6-84.1c1.4-13.4-1.4-23.4-8.2-29.9c-9.4-8.9-22.6-7-23.2-6.9
        l-1.2,0.2l-0.3,0.2c0,0-4-0.3-13,9.5c-22.6,20.5-30.8,53.4-23.8,96.5c6,36.6,23.1,73.4,23.8,74.7v71.4H129.6v13h208.6v24L307,509.8
        l-190.4,0.4l-31.3-47.1v-10.3v-13.7v-13v-11.7V111.1h252.9v28.9h13V98.1v-28L313.9,14l-204.3,0.5L72.3,70.2v0l13,4v-0.1l31.2-46.7
        L307,27l31.3,47.1v24.1H97.4H85.3h-13v155.4c-6.8-1.6-16.5-2.4-25.8,2c-11,5.3-17.8,11.5-21.5,28c0,0-0.8,4.4-0.8,6.1
        c0,1.7-0.2,17.9,12.9,30.8c2.1,2.1,4.4,3.9,7,5.5c-9.7,6.8-15.7,14.8-17.1,34.3c0.2,4.7-0.8,18.5,12.1,30.8
        c1.3,1.2,2.7,2.4,4.2,3.4c-1.2,0.8-2.4,1.7-3.6,2.7c-9.3,8-13.6,20.4-12.7,36.9c0.1,0.8,1.5,19.6,15.9,29.5c2,1.4,4.2,2.5,6.4,3.4
        c-2.4,2.3-4.7,5.1-6.4,8.2c-6.1,10.9-9,20.6-0.9,34c7.1,11.7,10,13.8,23.9,13.8c1.2,0,2.5-0.1,3.7-0.3c9.9-1.4,21.6-4.1,29.2-15.7
        l10.8,16.2l58.9-0.1l0.9,1.1c39.1,47.5,78.1,71.5,116,71.5c1.3,0,2.7,0,4-0.1c41.8-1.9,67.6-32.7,73.5-40.5
        c58.3-22.1,70.6-52.5,71.3-54.2C477.5,366.4,414,297.7,411.2,294.9z M37.3,290.4c-0.5-5.2,6.4-20,14.8-23.1
        c7.1-3.5,15.1-1.9,19.7-0.5v52.8c0,0-8.4,0.6-9.3-0.1c-6.6-1.5-11.9-4.3-16-8.3C38.4,303.5,37.8,295.6,37.3,290.4z M40,361.3
        c1.5-15.1,5.3-20.4,12-24.9c3.1-2.1,6.6-3.2,9.9-3.6c3.4,0,6,0,9.9,1.1v54c-2.9,1-5.8,1.1-10.3,0.3c-5.5-1.1-9.9-3.3-13.4-6.5
        C39.7,373.7,40,361.3,40,361.3z M40,433.2c-0.7-12.1,2.1-20.9,8.1-26.2c3.8-3.3,8.6-4.9,13.1-5.7c4-0.5,6.6-0.7,10.6,0.7v52.9
        c-0.8,0.2-1.6,0.5-2.5,0.7c-7.8,1.3-14.2,0.4-18.9-2.8C41.1,446.5,40,433.2,40,433.2z M67.8,509.9c-7.3,1.1-8.5-0.6-13.7-5.5
        c-5.1-8.8-3.7-15.8,0.1-22.8c4.1-7.4,12.3-11.3,18.2-13.3c0.2,0,0.4-0.1,0.6-0.1l0.6,0.9l14.4,31C84.3,507,74.9,508.8,67.8,509.9z
         M422,496.7c-0.1,0.3-10.9,26.9-65.4,47.1l-1.9,0.7l-1.2,1.7c-0.2,0.3-24.4,34.9-64.8,36.6c-32.9,1.5-67.7-18.7-103.4-59.7
        l128.6-0.3l37.3-55.7v-28c0,0,1.3-81.2-1.3-92.6c-2.6-11.4-58.1-120.3,5.9-160.3c2.3-0.1,7.6,0.1,11.2,3.6
        c4.8,4.5,4.9,13.2,4.2,19.7l-0.1,0.5l0,0.5c0.1,2.8,2.9,69.7,30.9,93.6C405.9,308.2,461.6,373.7,422,496.7z"/>
</g>
<g>
    <path class="st0" d="M157.6,245.5c0.8,5.6,5.6,9.9,11.4,9.9c6.4,0,11.6-5.2,11.6-11.6v-29.7c0-3.7-1.8-7-4.6-9.2
        c3.8-13.1,17.1-22.3,34-22.3c16.9,0,30.2,9.2,34,22.4c-2.8,2.1-4.6,5.4-4.6,9.2v29.7c0,4.9,3,9,7.2,10.7c0,0-0.1,0.1-0.1,0.1
        c-3.9,3.5-8.8,5.8-14,6.9c-1.6-3.6-4.9-6.3-9-7c-6.5-1-12.6,3.4-13.6,9.9c-1,6.5,3.4,12.6,10,13.6c5.8,0.9,11.2-2.5,13.1-7.9
        c7.2-1.2,13.9-4.4,19.4-9.2c3.7-3.2,6.6-7.1,8.7-11.4c0.4-0.7,0.8-1.5,1-2.3c0.3-0.7,0.6-1.4,0.8-2.2c3-1.7,5.3-8.4,5.3-16.3
        c0-8.2-2.4-15.1-5.6-16.5c-0.5-3.4-2.5-6.3-5.3-8.1c-4.1-20.3-23-34.7-47.2-34.7c-24.2,0-43.1,14.4-47.2,34.7
        c-2.8,1.8-4.8,4.7-5.3,8.1c-3.2,1.4-5.6,8.2-5.6,16.5C151.9,237.3,154.4,244.1,157.6,245.5z"/>
    <path class="st0" d="M287.3,344.5l-4.4-29.8c-0.9-5.9-7.4-13.5-12.3-15.8c-5-2.3-35.2-12.6-37.8-18.6c-0.2-0.4-0.3-0.9-0.5-1.4
        c-2.9,2.5-6.7,3.9-10.6,3.9c-0.8,0-1.7-0.1-2.5-0.2c-4.3-0.7-8.2-3-10.7-6.5c-2.6-3.5-3.6-7.9-3-12.2c0.7-4.3,3-8.1,6.5-10.7
        c3.5-2.6,7.9-3.6,12.2-3c4.2,0.7,7.9,2.9,10.5,6.2c0.5-0.2,0.9-0.3,1.4-0.5c0.5-1,1-2.1,1.5-3.2c-1.7-2.6-2.6-5.6-2.6-8.8v-29.7
        c0-3.9,1.4-7.5,3.9-10.4c-4.2-10-15.4-16.6-28.8-16.6c-13.4,0-24.6,6.6-28.8,16.6c2.5,2.9,3.9,6.5,3.9,10.4v29.7
        c0,3.2-1,6.3-2.6,8.8c1.4,3.2,3,6.2,4.8,8.9c0,0,2.7,12.8,0.1,18.7c-2.6,6-32.8,16.3-37.8,18.6c-5,2.3-11.5,9.9-12.3,15.8
        l-4.5,30.1c0,8.8,30.5,16,77.3,16c46.8,0,77.3-7.2,77.3-16C287.4,344.6,287.3,344.6,287.3,344.5z"/>
</g>
</svg>
			</div>
			<div class="col-sm-10">
				<h1>Need a little help?</h1>
				<p>If you get stuck or aren't feeling comfortable with your repair, hop on video chat and get some face-time with a professional</p>
			</div>
		</div>
	</div>
</div>


<section class="service">
	<div class="callout right">
		<h1>Responsive service that rocks.</h1>
		<p>Not every repair is simple and you might not always have the time. Hint gives you access to our network of service professionals, so you can get the job done quickly.</p>

		<div class="bullets">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-calendar"></span>
					<strong>Schedule<br class="hidden-xs"> On Your Time</strong>
				</div>
				<div class="col-sm-4">
					<div class="outline">
						<span class="glyphicon glyphicon-usd"></span>
						<strong>Flat-rate<br class="hidden-xs"> Pricing</strong>
					</div>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<strong>Community Rated<br class="hidden-xs"> Technicians</strong>
				</div>
			</div>
		</div>
		
	</div>

</section>


<section class="transparency hidden">
	<h1 class="callout">Hint clues you in.</h1>
	<div class="image"></div>
	<div class="container points">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="inner">
					<h5>Keeps Your Home In Shape</h5>
					<p>Like a personal trainer for home care, Hint stays on top of your home's needs for you.</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="inner">
					<h5>Expertise at your fingertips</h5>
					<p>Every notification and alert empowers you to care for your home like a professional would.</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="inner">
					<h5>Takes a proactive approach</h5>
					<p>Extend the life of the large appliances that run your home with a little maintenance and care.</p>
				</div>
			</div>
		</div>
	</div>
</section>







<!-- Fill in how it works  -->

<section class="ropes hidden">
	<h1 class="callout">Hint makes you the expert.</h1>
	<div class="image"></div>
	<div class="container points">	
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="inner">
					<h5>Knows when to call you</h5>
					<p>When an appliance needs maintainance, repair or starts performing poorly, Hint will let you know.</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="inner">
					<h5>Explains everything you need</h5>
					<p>Hint describes issues in simple terms so everyone can understand what's going on.</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="inner">	
					<h5>Brings you solutions</h5>
					<p>Every notification comes with options that help you decide how to move forward.</p>
				</div>
			</div>
		</div>	
	</div>
</section>

<!-- Fill in pricing and fixing  -->










